/* General Styling */
p {
    color: #000000;
    font-weight: 500;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Hina Mincho', serif;
}

/* Navigation */

nav {
    background-color: #E8D0B3;
}

.navbar-nav {
    margin: auto;
    font-size: 20px;
}

a.navbar-brand {
    color: #86340A;
    font-family: 'Hina Mincho', serif;
    font-size: 25px;
    font-weight: bold;
}

a.navbar-brand:hover {
    color: #C36839;
}

.navbar-brand span {
    color: #FFFFFF;
    font-family: 'Hina Mincho', serif;
    font-size: 25px;
    font-weight: bold;
}

a.nav-link {
    color: #FFFFFF;
    font-family: 'Hina Mincho', serif;
    font-size: 20px;
}

a.nav-link:hover {
    color: #86340A;
}

.button1 {
    font-size: 20px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button1:hover {
    color: #86340A;
}

.button2 {
    color: #7EB5A6;
    background-color: #C36839;
    font-size: 16px;
    font-family: 'Hina Mincho', serif;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin-left: 20px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button2:hover {
    color: #86340A;
}


/* Slide Show */

.d-block {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 50% 50%;
    filter: blur(8px);
    filter: brightness(30%);
}

.carousel-caption {
    top: 40%;
}

.carousel-caption h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.carousel-caption p {
    color: #FF4C29;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
}

.carousel-btn {
    background: #86340A;
    border-radius: 10px;
    font-family: 'Hina Mincho', serif;
    color: #7EB5A6;
    font-size: 12px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.carousel-btn:hover {
    background: #C36839;
    text-decoration: none;
}

/* Insight Section */

.insight-section {
    background-color: #EFEFEF;
    padding: 0 0 80px;
}

.insight-msg {
    text-align: center;
    padding-top: 50px;
}

.insight-box {
    margin-top: 80px;
}

.insight-content {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 30px 20px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px 20px;
}

.insight-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #86340A;
}

.insight-msg h2 {
    color: #86340A;
    font-weight: 800;
}

.insight-content h5 {
    margin: 40px 0 10px;
    text-align: left;
}

.insight-content p {
    line-height: 1.5;
    text-align: left;

}

/* Why Coose */

.why-choose {
    background-color: #FFFFFF;
    padding: 0 0 50px;
}

.choose-head h2 {
    color: #86340A;
    padding: 80px 0;
    text-align: center;
    font-weight: 800;
}


.choose-box {
    margin: 50px 0;
}

.choose-content {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #EFEFEF;
    padding: 30px 50px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
}

.choose-content h3 {
    background-color: #86340A;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 80%;
    padding: 6px 15px;
}

/* Our Initiative */

.initiative {
    background-color: #EFEFEF;
    padding: 0 0 70px;
    filter: brightness(50%);
}

.initiate-head {
    text-align: center;
    padding: 80px 0;
}

.ini-head h1 {
    color: #86340A;
    font-weight: 800;
}


.initiate-box img {
    width: 100%;
}

.initiate-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    margin: 20px 20px;
}

.initiate-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.initiate-text {
    padding: 2px 16px;
}


/* Opportunities */

.opportunities {
    background-color: #FFFFFF;
    padding: 80px 0;
}

.op-head {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 20px;
    padding: 10px;
    width: 80%;

}

.op-head a {
    color: #86340A;
    font-weight: 500;
}

.op-head a:hover {
    text-decoration: none;
    color: aqua;
}

.opp-box {
    margin: 5% 0;
}

.opp-content {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #EFEFEF;
    padding: 30px 20px 0 30px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.opp-content img {
    margin: 0 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #86340A;
    padding: 10px;
}

.opp-content button {
    margin: 20px 0 20px;
    background: #86340A;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Hina Mincho', serif;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    outline: none;
    border: none;
    text-decoration: none;
}

.opp-content button:hover {
    background: #C36839;
    text-decoration: none;
}

.opp-content p {
    width: 300px;
}

.opportunities hr {
    border-top: 1px solid #000000;
    width: 80%;
}


/* Events */


.events {
    background-color: #EFEFEF;
    padding: 0 0 70px;
}

.event-head {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 20px;
    padding: 50px 10px 10px;
    width: 80%;
}

.event-head a {
    color: #86340A;
    font-weight: 500;
}

.event-head a:hover {
    text-decoration: none;
    color: aqua;
}

.event-box {
    margin: 40px 10px;
}

.event-box img {
    width: 100%;
}

.event-box button {
    margin: 20px 0 20px;
    background: #86340A;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Hina Mincho', serif;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    outline: none;
    border: none;
    text-decoration: none;
}

.event-box button:hover {
    background: #C36839;
    text-decoration: none;
}

.event-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.event-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.event-text {
    padding: 20px 16px;
}

.events hr {
    border-top: 1px solid #000000;
    width: 80%;
}

/* Subscriber */

.subscribe {
    background-color: #FFFFFF;
    padding: 60px 0;
}

.sub-content {
    text-align: center;
}


.sub-box img {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #86340A;

}

.sub-div {
    display: flex;
    align-items: center;
    height: 100px;
}

.line-sep {
    width: 100%;
    border: 1px solid #86340A;
}

/* Testimonial */

.testimonial {
    background-color: #EFEFEF;
    padding: 80px 0;
}

.testi-head {
    text-align: center;
    padding: 0 0 30px;
}

.testi-content {
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
}

.testi-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Talents */

.talents {
    background-color: #FFFFFF;
    padding: 80px 0;
}

.talent-head {
    text-align: center;
    padding: 0 0 30px;
}

.talent-content {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #EFEFEF;
    padding: 30px 20px 0 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
}

.talent-content button {
    margin: 0 0 20px;
}

.talent-content button {
    background: #86340A;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Hina Mincho', serif;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    outline: none;
    border: none;
    text-decoration: none;
}

.talent-content button:hover {
    background: #C36839;
    text-decoration: none;
}

.talent-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Footer */

.footer {
    background-color: #86340A;
    padding: 30px 0 0;
}

.footer-content {
    margin: 20px;
}

.footer-content h5 {
    padding: 0 0 2%;
}

.footer-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #BBBBBB;
    transition: all 0.3s ease;
    list-style: none;
}

.footer-content ul li a:hover {
    color: #FF4C29;
    padding-left: 10px;
}

.footer-content img {
    width: 20px;
    margin-right: 10px;
}

.copy-text {
    text-align: center;
    padding: 0 0 20px;
}

.footer hr {
    border-top: 1px solid #000000;
    width: 70%;
}


/* MEDIA QUERY */

@media (max-width: 920px) {

    .d-block {
        width: 100%;
        height: 50vh;
    }

    .carousel-caption {
        top: 30%;
    }


    .carousel-caption h1 {
        font-size: 25px;
    }
    
    .carousel-caption p {
        font-size: 16px;
        width: 60%;
        margin-bottom: 20px;
    }
}